<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>Acaron</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-30</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>Aringacute</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>asterisk</key>
		<integer>-36</integer>
		<key>question</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>parenright</key>
		<integer>-6</integer>
	</dict>
	<key>Cacute</key>
	<dict>
		<key>parenright</key>
		<integer>-6</integer>
	</dict>
	<key>Ccaron</key>
	<dict>
		<key>parenright</key>
		<integer>-6</integer>
	</dict>
	<key>Ccedilla</key>
	<dict>
		<key>parenright</key>
		<integer>-6</integer>
	</dict>
	<key>Ccircumflex</key>
	<dict>
		<key>parenright</key>
		<integer>-6</integer>
	</dict>
	<key>Cdotaccent</key>
	<dict>
		<key>parenright</key>
		<integer>-6</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>Dcaron</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>Dcroat</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>Delta</key>
	<dict>
		<key>question</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-8</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>Eacute</key>
	<dict>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>Ebreve</key>
	<dict>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>Ecaron</key>
	<dict>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>Ecircumflex</key>
	<dict>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>Edieresis</key>
	<dict>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>Edotaccent</key>
	<dict>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>Egrave</key>
	<dict>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>Emacron</key>
	<dict>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>Eogonek</key>
	<dict>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>Eth</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-32</integer>
		<key>Aacute</key>
		<integer>-32</integer>
		<key>Abreve</key>
		<integer>-32</integer>
		<key>Acircumflex</key>
		<integer>-32</integer>
		<key>Adieresis</key>
		<integer>-32</integer>
		<key>Agrave</key>
		<integer>-32</integer>
		<key>Amacron</key>
		<integer>-32</integer>
		<key>Aogonek</key>
		<integer>-32</integer>
		<key>Aring</key>
		<integer>-32</integer>
		<key>Aringacute</key>
		<integer>-32</integer>
		<key>Atilde</key>
		<integer>-32</integer>
		<key>Delta</key>
		<integer>-32</integer>
		<key>T</key>
		<integer>4</integer>
		<key>Tcaron</key>
		<integer>4</integer>
		<key>a</key>
		<integer>-13</integer>
		<key>aacute</key>
		<integer>-13</integer>
		<key>abreve</key>
		<integer>-13</integer>
		<key>acircumflex</key>
		<integer>-13</integer>
		<key>adieresis</key>
		<integer>-13</integer>
		<key>agrave</key>
		<integer>-13</integer>
		<key>amacron</key>
		<integer>-13</integer>
		<key>aogonek</key>
		<integer>-13</integer>
		<key>aring</key>
		<integer>-13</integer>
		<key>aringacute</key>
		<integer>-13</integer>
		<key>atilde</key>
		<integer>-13</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>cacute</key>
		<integer>-10</integer>
		<key>ccaron</key>
		<integer>-10</integer>
		<key>ccedilla</key>
		<integer>-10</integer>
		<key>ccircumflex</key>
		<integer>-10</integer>
		<key>cdotaccent</key>
		<integer>-10</integer>
		<key>colon</key>
		<integer>-64</integer>
		<key>comma</key>
		<integer>-64</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>dcaron</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>eacute</key>
		<integer>-10</integer>
		<key>ebreve</key>
		<integer>-10</integer>
		<key>ecaron</key>
		<integer>-10</integer>
		<key>ecircumflex</key>
		<integer>-10</integer>
		<key>edieresis</key>
		<integer>-10</integer>
		<key>edotaccent</key>
		<integer>-10</integer>
		<key>egrave</key>
		<integer>-10</integer>
		<key>ellipsis</key>
		<integer>-64</integer>
		<key>emacron</key>
		<integer>-10</integer>
		<key>eogonek</key>
		<integer>-10</integer>
		<key>etilde</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>gbreve</key>
		<integer>-10</integer>
		<key>gcircumflex</key>
		<integer>-10</integer>
		<key>gdotaccent</key>
		<integer>-10</integer>
		<key>icircumflex</key>
		<integer>6</integer>
		<key>idieresis</key>
		<integer>18</integer>
		<key>imacron</key>
		<integer>12</integer>
		<key>itilde</key>
		<integer>36</integer>
		<key>jcircumflex</key>
		<integer>12</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>oacute</key>
		<integer>-10</integer>
		<key>obreve</key>
		<integer>-10</integer>
		<key>ocircumflex</key>
		<integer>-10</integer>
		<key>odieresis</key>
		<integer>-10</integer>
		<key>oe</key>
		<integer>-10</integer>
		<key>ograve</key>
		<integer>-10</integer>
		<key>ohungarumlaut</key>
		<integer>-10</integer>
		<key>omacron</key>
		<integer>-10</integer>
		<key>otilde</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-64</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>quotedblbase</key>
		<integer>-64</integer>
		<key>quotesinglbase</key>
		<integer>-64</integer>
		<key>r</key>
		<integer>-6</integer>
		<key>u</key>
		<integer>-5</integer>
		<key>uacute</key>
		<integer>-5</integer>
		<key>ubreve</key>
		<integer>-5</integer>
		<key>ucircumflex</key>
		<integer>-5</integer>
		<key>udieresis</key>
		<integer>-5</integer>
		<key>ugrave</key>
		<integer>-5</integer>
		<key>uhungarumlaut</key>
		<integer>-5</integer>
		<key>umacron</key>
		<integer>-5</integer>
		<key>uogonek</key>
		<integer>-5</integer>
		<key>uring</key>
		<integer>-5</integer>
		<key>utilde</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-6</integer>
		<key>y</key>
		<integer>-6</integer>
		<key>yacute</key>
		<integer>-6</integer>
		<key>ycircumflex</key>
		<integer>-6</integer>
		<key>ydieresis</key>
		<integer>-6</integer>
		<key>ygrave</key>
		<integer>-6</integer>
		<key>ytilde</key>
		<integer>-6</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>ibreve</key>
		<integer>-3</integer>
		<key>icircumflex</key>
		<integer>-12</integer>
		<key>idieresis</key>
		<integer>3</integer>
		<key>imacron</key>
		<integer>3</integer>
		<key>itilde</key>
		<integer>18</integer>
		<key>jcircumflex</key>
		<integer>-6</integer>
		<key>w</key>
		<integer>-14</integer>
	</dict>
	<key>Kcommaaccent</key>
	<dict>
		<key>ibreve</key>
		<integer>-3</integer>
		<key>icircumflex</key>
		<integer>-12</integer>
		<key>idieresis</key>
		<integer>3</integer>
		<key>imacron</key>
		<integer>3</integer>
		<key>itilde</key>
		<integer>18</integer>
		<key>jcircumflex</key>
		<integer>-6</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>Oslash</key>
		<integer>-3</integer>
		<key>asterisk</key>
		<integer>-60</integer>
		<key>question</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>Lacute</key>
	<dict>
		<key>Oslash</key>
		<integer>-3</integer>
		<key>asterisk</key>
		<integer>-60</integer>
		<key>question</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>Lcaron</key>
	<dict>
		<key>Oslash</key>
		<integer>-3</integer>
		<key>asterisk</key>
		<integer>-60</integer>
		<key>question</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>Lcommaaccent</key>
	<dict>
		<key>Oslash</key>
		<integer>-3</integer>
		<key>asterisk</key>
		<integer>-60</integer>
		<key>question</key>
		<integer>-30</integer>
	</dict>
	<key>Ldot</key>
	<dict>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>Lslash</key>
	<dict>
		<key>Oslash</key>
		<integer>-3</integer>
		<key>asterisk</key>
		<integer>-60</integer>
		<key>question</key>
		<integer>-30</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>Oacute</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>Obreve</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>Ocircumflex</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>Odieresis</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>Ograve</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>Ohungarumlaut</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>Omacron</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>Otilde</key>
	<dict>
		<key>AE</key>
		<integer>-12</integer>
		<key>Sigma</key>
		<integer>-4</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>AE</key>
		<integer>-32</integer>
		<key>t</key>
		<integer>3</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>T</key>
		<integer>-8</integer>
		<key>Tcaron</key>
		<integer>-8</integer>
		<key>V</key>
		<integer>-6</integer>
		<key>W</key>
		<integer>-4</integer>
		<key>Wacute</key>
		<integer>-4</integer>
		<key>Wcircumflex</key>
		<integer>-4</integer>
		<key>Wdieresis</key>
		<integer>-4</integer>
		<key>Wgrave</key>
		<integer>-4</integer>
		<key>Y</key>
		<integer>-14</integer>
		<key>Yacute</key>
		<integer>-14</integer>
		<key>Ycircumflex</key>
		<integer>-14</integer>
		<key>Ydieresis</key>
		<integer>-14</integer>
		<key>Ygrave</key>
		<integer>-14</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>-6</integer>
		<key>Tcaron</key>
		<integer>-6</integer>
		<key>V</key>
		<integer>-4</integer>
		<key>Y</key>
		<integer>-11</integer>
		<key>Yacute</key>
		<integer>-11</integer>
		<key>Ycircumflex</key>
		<integer>-11</integer>
		<key>Ydieresis</key>
		<integer>-11</integer>
		<key>Ygrave</key>
		<integer>-11</integer>
	</dict>
	<key>Sigma</key>
	<dict>
		<key>C</key>
		<integer>-6</integer>
		<key>Cacute</key>
		<integer>-6</integer>
		<key>Ccaron</key>
		<integer>-6</integer>
		<key>Ccedilla</key>
		<integer>-6</integer>
		<key>Ccircumflex</key>
		<integer>-6</integer>
		<key>Cdotaccent</key>
		<integer>-6</integer>
		<key>G</key>
		<integer>-6</integer>
		<key>Gbreve</key>
		<integer>-6</integer>
		<key>Gcircumflex</key>
		<integer>-6</integer>
		<key>Gdotaccent</key>
		<integer>-6</integer>
		<key>O</key>
		<integer>-6</integer>
		<key>OE</key>
		<integer>-6</integer>
		<key>Oacute</key>
		<integer>-6</integer>
		<key>Obreve</key>
		<integer>-6</integer>
		<key>Ocircumflex</key>
		<integer>-6</integer>
		<key>Odieresis</key>
		<integer>-6</integer>
		<key>Ograve</key>
		<integer>-6</integer>
		<key>Ohungarumlaut</key>
		<integer>-6</integer>
		<key>Omacron</key>
		<integer>-6</integer>
		<key>Oslash</key>
		<integer>-6</integer>
		<key>Oslashacute</key>
		<integer>-6</integer>
		<key>Otilde</key>
		<integer>-6</integer>
		<key>Q</key>
		<integer>-6</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>AE</key>
		<integer>-38</integer>
		<key>abreve</key>
		<integer>-60</integer>
		<key>acircumflex</key>
		<integer>-48</integer>
		<key>adieresis</key>
		<integer>-36</integer>
		<key>ae</key>
		<integer>-19</integer>
		<key>amacron</key>
		<integer>-48</integer>
		<key>asterisk</key>
		<integer>27</integer>
		<key>atilde</key>
		<integer>-36</integer>
		<key>etilde</key>
		<integer>-36</integer>
		<key>guillemotleft</key>
		<integer>-34</integer>
		<key>guillemotright</key>
		<integer>-34</integer>
		<key>ibreve</key>
		<integer>24</integer>
		<key>icaron</key>
		<integer>6</integer>
		<key>icircumflex</key>
		<integer>18</integer>
		<key>idieresis</key>
		<integer>36</integer>
		<key>imacron</key>
		<integer>24</integer>
		<key>itilde</key>
		<integer>36</integer>
		<key>jcircumflex</key>
		<integer>18</integer>
		<key>oslash</key>
		<integer>-22</integer>
		<key>pi</key>
		<integer>-23</integer>
		<key>question</key>
		<integer>24</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>rcaron</key>
		<integer>-54</integer>
		<key>scaron</key>
		<integer>-71</integer>
		<key>scircumflex</key>
		<integer>-65</integer>
		<key>w</key>
		<integer>-11</integer>
		<key>ytilde</key>
		<integer>-12</integer>
	</dict>
	<key>Tbar</key>
	<dict>
		<key>AE</key>
		<integer>-38</integer>
		<key>abreve</key>
		<integer>-60</integer>
		<key>acircumflex</key>
		<integer>-48</integer>
		<key>adieresis</key>
		<integer>-36</integer>
		<key>ae</key>
		<integer>-19</integer>
		<key>amacron</key>
		<integer>-48</integer>
		<key>asterisk</key>
		<integer>27</integer>
		<key>atilde</key>
		<integer>-36</integer>
		<key>etilde</key>
		<integer>-36</integer>
		<key>guillemotleft</key>
		<integer>-34</integer>
		<key>guillemotright</key>
		<integer>-34</integer>
		<key>ibreve</key>
		<integer>24</integer>
		<key>icaron</key>
		<integer>6</integer>
		<key>icircumflex</key>
		<integer>18</integer>
		<key>idieresis</key>
		<integer>36</integer>
		<key>imacron</key>
		<integer>24</integer>
		<key>itilde</key>
		<integer>36</integer>
		<key>jcircumflex</key>
		<integer>18</integer>
		<key>oslash</key>
		<integer>-22</integer>
		<key>pi</key>
		<integer>-23</integer>
		<key>question</key>
		<integer>24</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>rcaron</key>
		<integer>-54</integer>
		<key>scaron</key>
		<integer>-71</integer>
		<key>scircumflex</key>
		<integer>-65</integer>
		<key>w</key>
		<integer>-11</integer>
		<key>ytilde</key>
		<integer>-12</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
		<key>AE</key>
		<integer>-38</integer>
		<key>abreve</key>
		<integer>-60</integer>
		<key>acircumflex</key>
		<integer>-48</integer>
		<key>adieresis</key>
		<integer>-36</integer>
		<key>ae</key>
		<integer>-19</integer>
		<key>amacron</key>
		<integer>-48</integer>
		<key>asterisk</key>
		<integer>27</integer>
		<key>atilde</key>
		<integer>-36</integer>
		<key>etilde</key>
		<integer>-36</integer>
		<key>guillemotleft</key>
		<integer>-34</integer>
		<key>guillemotright</key>
		<integer>-34</integer>
		<key>ibreve</key>
		<integer>24</integer>
		<key>icaron</key>
		<integer>6</integer>
		<key>icircumflex</key>
		<integer>18</integer>
		<key>idieresis</key>
		<integer>36</integer>
		<key>imacron</key>
		<integer>24</integer>
		<key>itilde</key>
		<integer>36</integer>
		<key>jcircumflex</key>
		<integer>18</integer>
		<key>oslash</key>
		<integer>-22</integer>
		<key>pi</key>
		<integer>-23</integer>
		<key>question</key>
		<integer>24</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>rcaron</key>
		<integer>-54</integer>
		<key>scaron</key>
		<integer>-71</integer>
		<key>scircumflex</key>
		<integer>-65</integer>
		<key>w</key>
		<integer>-11</integer>
		<key>ytilde</key>
		<integer>-12</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>T</key>
		<integer>-24</integer>
		<key>Tbar</key>
		<integer>-24</integer>
		<key>Tcaron</key>
		<integer>-24</integer>
		<key>V</key>
		<integer>-9</integer>
		<key>W</key>
		<integer>-9</integer>
		<key>Wacute</key>
		<integer>-9</integer>
		<key>Wcircumflex</key>
		<integer>-9</integer>
		<key>Wdieresis</key>
		<integer>-9</integer>
		<key>Wgrave</key>
		<integer>-9</integer>
		<key>X</key>
		<integer>-36</integer>
		<key>uni021A</key>
		<integer>-24</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>braceright</key>
		<integer>4</integer>
		<key>bracketright</key>
		<integer>4</integer>
		<key>hbar</key>
		<integer>-3</integer>
		<key>ibreve</key>
		<integer>9</integer>
		<key>icircumflex</key>
		<integer>3</integer>
		<key>idieresis</key>
		<integer>21</integer>
		<key>imacron</key>
		<integer>15</integer>
		<key>itilde</key>
		<integer>39</integer>
		<key>jcircumflex</key>
		<integer>3</integer>
		<key>parenright</key>
		<integer>4</integer>
		<key>r</key>
		<integer>-7</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>braceright</key>
		<integer>3</integer>
		<key>bracketright</key>
		<integer>3</integer>
		<key>hbar</key>
		<integer>-3</integer>
		<key>ibreve</key>
		<integer>9</integer>
		<key>icircumflex</key>
		<integer>3</integer>
		<key>idieresis</key>
		<integer>21</integer>
		<key>imacron</key>
		<integer>15</integer>
		<key>itilde</key>
		<integer>39</integer>
		<key>jcircumflex</key>
		<integer>3</integer>
		<key>parenright</key>
		<integer>3</integer>
		<key>r</key>
		<integer>-5</integer>
	</dict>
	<key>Wacute</key>
	<dict>
		<key>braceright</key>
		<integer>3</integer>
		<key>bracketright</key>
		<integer>3</integer>
		<key>hbar</key>
		<integer>-3</integer>
		<key>ibreve</key>
		<integer>9</integer>
		<key>icircumflex</key>
		<integer>3</integer>
		<key>idieresis</key>
		<integer>21</integer>
		<key>imacron</key>
		<integer>15</integer>
		<key>itilde</key>
		<integer>39</integer>
		<key>jcircumflex</key>
		<integer>3</integer>
		<key>parenright</key>
		<integer>3</integer>
		<key>r</key>
		<integer>-5</integer>
	</dict>
	<key>Wcircumflex</key>
	<dict>
		<key>braceright</key>
		<integer>3</integer>
		<key>bracketright</key>
		<integer>3</integer>
		<key>hbar</key>
		<integer>-3</integer>
		<key>ibreve</key>
		<integer>9</integer>
		<key>icircumflex</key>
		<integer>3</integer>
		<key>idieresis</key>
		<integer>21</integer>
		<key>imacron</key>
		<integer>15</integer>
		<key>itilde</key>
		<integer>39</integer>
		<key>jcircumflex</key>
		<integer>3</integer>
		<key>parenright</key>
		<integer>3</integer>
		<key>r</key>
		<integer>-5</integer>
	</dict>
	<key>Wdieresis</key>
	<dict>
		<key>braceright</key>
		<integer>3</integer>
		<key>bracketright</key>
		<integer>3</integer>
		<key>hbar</key>
		<integer>-3</integer>
		<key>ibreve</key>
		<integer>9</integer>
		<key>icircumflex</key>
		<integer>3</integer>
		<key>idieresis</key>
		<integer>21</integer>
		<key>imacron</key>
		<integer>15</integer>
		<key>itilde</key>
		<integer>39</integer>
		<key>jcircumflex</key>
		<integer>3</integer>
		<key>parenright</key>
		<integer>3</integer>
		<key>r</key>
		<integer>-5</integer>
	</dict>
	<key>Wgrave</key>
	<dict>
		<key>braceright</key>
		<integer>3</integer>
		<key>bracketright</key>
		<integer>3</integer>
		<key>hbar</key>
		<integer>-3</integer>
		<key>ibreve</key>
		<integer>9</integer>
		<key>icircumflex</key>
		<integer>3</integer>
		<key>idieresis</key>
		<integer>21</integer>
		<key>imacron</key>
		<integer>15</integer>
		<key>itilde</key>
		<integer>39</integer>
		<key>jcircumflex</key>
		<integer>3</integer>
		<key>parenright</key>
		<integer>3</integer>
		<key>r</key>
		<integer>-5</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>ibreve</key>
		<integer>18</integer>
		<key>icaron</key>
		<integer>12</integer>
		<key>icircumflex</key>
		<integer>12</integer>
		<key>idieresis</key>
		<integer>24</integer>
		<key>imacron</key>
		<integer>18</integer>
		<key>itilde</key>
		<integer>24</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>AE</key>
		<integer>-26</integer>
		<key>ae</key>
		<integer>-17</integer>
		<key>ampersand</key>
		<integer>-11</integer>
		<key>asterisk</key>
		<integer>-17</integer>
		<key>braceright</key>
		<integer>4</integer>
		<key>bracketright</key>
		<integer>4</integer>
		<key>bullet</key>
		<integer>-20</integer>
		<key>etilde</key>
		<integer>-30</integer>
		<key>f</key>
		<integer>-8</integer>
		<key>guillemotleft</key>
		<integer>-23</integer>
		<key>guillemotright</key>
		<integer>-12</integer>
		<key>ibreve</key>
		<integer>12</integer>
		<key>icircumflex</key>
		<integer>6</integer>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>24</integer>
		<key>itilde</key>
		<integer>36</integer>
		<key>jcircumflex</key>
		<integer>-12</integer>
		<key>oslash</key>
		<integer>-18</integer>
		<key>parenright</key>
		<integer>4</integer>
		<key>pi</key>
		<integer>-13</integer>
		<key>r</key>
		<integer>-12</integer>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>AE</key>
		<integer>-26</integer>
		<key>ae</key>
		<integer>-17</integer>
		<key>ampersand</key>
		<integer>-11</integer>
		<key>asterisk</key>
		<integer>-17</integer>
		<key>braceright</key>
		<integer>4</integer>
		<key>bracketright</key>
		<integer>4</integer>
		<key>bullet</key>
		<integer>-20</integer>
		<key>etilde</key>
		<integer>-30</integer>
		<key>f</key>
		<integer>-8</integer>
		<key>guillemotleft</key>
		<integer>-23</integer>
		<key>guillemotright</key>
		<integer>-12</integer>
		<key>ibreve</key>
		<integer>12</integer>
		<key>icircumflex</key>
		<integer>6</integer>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>24</integer>
		<key>itilde</key>
		<integer>36</integer>
		<key>jcircumflex</key>
		<integer>-12</integer>
		<key>oslash</key>
		<integer>-18</integer>
		<key>parenright</key>
		<integer>4</integer>
		<key>pi</key>
		<integer>-13</integer>
		<key>r</key>
		<integer>-12</integer>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>Ycircumflex</key>
	<dict>
		<key>AE</key>
		<integer>-26</integer>
		<key>ae</key>
		<integer>-17</integer>
		<key>ampersand</key>
		<integer>-11</integer>
		<key>asterisk</key>
		<integer>-17</integer>
		<key>braceright</key>
		<integer>4</integer>
		<key>bracketright</key>
		<integer>4</integer>
		<key>bullet</key>
		<integer>-20</integer>
		<key>etilde</key>
		<integer>-30</integer>
		<key>f</key>
		<integer>-8</integer>
		<key>guillemotleft</key>
		<integer>-23</integer>
		<key>guillemotright</key>
		<integer>-12</integer>
		<key>ibreve</key>
		<integer>12</integer>
		<key>icircumflex</key>
		<integer>6</integer>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>24</integer>
		<key>itilde</key>
		<integer>36</integer>
		<key>jcircumflex</key>
		<integer>-12</integer>
		<key>oslash</key>
		<integer>-18</integer>
		<key>parenright</key>
		<integer>4</integer>
		<key>pi</key>
		<integer>-13</integer>
		<key>r</key>
		<integer>-12</integer>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
		<key>AE</key>
		<integer>-26</integer>
		<key>ae</key>
		<integer>-17</integer>
		<key>ampersand</key>
		<integer>-11</integer>
		<key>asterisk</key>
		<integer>-17</integer>
		<key>braceright</key>
		<integer>4</integer>
		<key>bracketright</key>
		<integer>4</integer>
		<key>bullet</key>
		<integer>-20</integer>
		<key>etilde</key>
		<integer>-30</integer>
		<key>f</key>
		<integer>-8</integer>
		<key>guillemotleft</key>
		<integer>-23</integer>
		<key>guillemotright</key>
		<integer>-12</integer>
		<key>ibreve</key>
		<integer>12</integer>
		<key>icircumflex</key>
		<integer>6</integer>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>24</integer>
		<key>itilde</key>
		<integer>36</integer>
		<key>jcircumflex</key>
		<integer>-12</integer>
		<key>oslash</key>
		<integer>-18</integer>
		<key>parenright</key>
		<integer>4</integer>
		<key>pi</key>
		<integer>-13</integer>
		<key>r</key>
		<integer>-12</integer>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>Ygrave</key>
	<dict>
		<key>AE</key>
		<integer>-26</integer>
		<key>ae</key>
		<integer>-17</integer>
		<key>ampersand</key>
		<integer>-11</integer>
		<key>asterisk</key>
		<integer>-17</integer>
		<key>braceright</key>
		<integer>4</integer>
		<key>bracketright</key>
		<integer>4</integer>
		<key>bullet</key>
		<integer>-20</integer>
		<key>etilde</key>
		<integer>-30</integer>
		<key>f</key>
		<integer>-8</integer>
		<key>guillemotleft</key>
		<integer>-23</integer>
		<key>guillemotright</key>
		<integer>-12</integer>
		<key>ibreve</key>
		<integer>12</integer>
		<key>icircumflex</key>
		<integer>6</integer>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>24</integer>
		<key>itilde</key>
		<integer>36</integer>
		<key>jcircumflex</key>
		<integer>-12</integer>
		<key>oslash</key>
		<integer>-18</integer>
		<key>parenright</key>
		<integer>4</integer>
		<key>pi</key>
		<integer>-13</integer>
		<key>r</key>
		<integer>-12</integer>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>w</key>
		<integer>-6</integer>
	</dict>
	<key>Zacute</key>
	<dict>
		<key>w</key>
		<integer>-6</integer>
	</dict>
	<key>Zcaron</key>
	<dict>
		<key>w</key>
		<integer>-6</integer>
	</dict>
	<key>Zdotaccent</key>
	<dict>
		<key>w</key>
		<integer>-6</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>aacute</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>abreve</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>acaron</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>acircumflex</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>adieresis</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>agrave</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>amacron</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>aogonek</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>aring</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>aringacute</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>A</key>
		<integer>-36</integer>
		<key>Aacute</key>
		<integer>-36</integer>
		<key>Abreve</key>
		<integer>-36</integer>
		<key>Acaron</key>
		<integer>-36</integer>
		<key>Acircumflex</key>
		<integer>-36</integer>
		<key>Adieresis</key>
		<integer>-36</integer>
		<key>Agrave</key>
		<integer>-36</integer>
		<key>Amacron</key>
		<integer>-36</integer>
		<key>Aogonek</key>
		<integer>-36</integer>
		<key>Aring</key>
		<integer>-36</integer>
		<key>Aringacute</key>
		<integer>-36</integer>
		<key>Atilde</key>
		<integer>-36</integer>
		<key>Delta</key>
		<integer>-36</integer>
		<key>J</key>
		<integer>-51</integer>
		<key>Jcircumflex</key>
		<integer>-51</integer>
		<key>T</key>
		<integer>27</integer>
		<key>Tbar</key>
		<integer>27</integer>
		<key>Tcaron</key>
		<integer>27</integer>
		<key>uni021A</key>
		<integer>27</integer>
	</dict>
	<key>atilde</key>
	<dict>
		<key>tbar</key>
		<integer>-6</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>J</key>
		<integer>-4</integer>
		<key>Jcircumflex</key>
		<integer>-4</integer>
		<key>U</key>
		<integer>-4</integer>
		<key>Uacute</key>
		<integer>-4</integer>
		<key>Ubreve</key>
		<integer>-4</integer>
		<key>Ucircumflex</key>
		<integer>-4</integer>
		<key>Udieresis</key>
		<integer>-4</integer>
		<key>Ugrave</key>
		<integer>-4</integer>
		<key>Uhungarumlaut</key>
		<integer>-4</integer>
		<key>Umacron</key>
		<integer>-4</integer>
		<key>Uogonek</key>
		<integer>-4</integer>
		<key>Uring</key>
		<integer>-4</integer>
		<key>Utilde</key>
		<integer>-4</integer>
		<key>j</key>
		<integer>48</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>J</key>
		<integer>-4</integer>
		<key>Jcircumflex</key>
		<integer>-4</integer>
		<key>U</key>
		<integer>-4</integer>
		<key>Uacute</key>
		<integer>-4</integer>
		<key>Ubreve</key>
		<integer>-4</integer>
		<key>Ucircumflex</key>
		<integer>-4</integer>
		<key>Udieresis</key>
		<integer>-4</integer>
		<key>Ugrave</key>
		<integer>-4</integer>
		<key>Uhungarumlaut</key>
		<integer>-4</integer>
		<key>Umacron</key>
		<integer>-4</integer>
		<key>Uogonek</key>
		<integer>-4</integer>
		<key>Uring</key>
		<integer>-4</integer>
		<key>Utilde</key>
		<integer>-4</integer>
		<key>j</key>
		<integer>48</integer>
	</dict>
	<key>dcaron</key>
	<dict>
		<key>adieresis</key>
		<integer>6</integer>
		<key>question</key>
		<integer>30</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
		<key>V</key>
		<integer>-18</integer>
		<key>W</key>
		<integer>-18</integer>
		<key>Wacute</key>
		<integer>-18</integer>
		<key>Wcircumflex</key>
		<integer>-18</integer>
		<key>Wdieresis</key>
		<integer>-18</integer>
		<key>Wgrave</key>
		<integer>-18</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>Yacute</key>
		<integer>-30</integer>
		<key>Ycircumflex</key>
		<integer>-30</integer>
		<key>Ydieresis</key>
		<integer>-30</integer>
		<key>Ygrave</key>
		<integer>-30</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>asterisk</key>
		<integer>42</integer>
		<key>braceright</key>
		<integer>7</integer>
		<key>bracketright</key>
		<integer>13</integer>
		<key>exclam</key>
		<integer>18</integer>
		<key>hbar</key>
		<integer>30</integer>
		<key>ibreve</key>
		<integer>60</integer>
		<key>icaron</key>
		<integer>54</integer>
		<key>icircumflex</key>
		<integer>30</integer>
		<key>idieresis</key>
		<integer>66</integer>
		<key>igrave</key>
		<integer>24</integer>
		<key>imacron</key>
		<integer>54</integer>
		<key>itilde</key>
		<integer>72</integer>
		<key>jcircumflex</key>
		<integer>30</integer>
		<key>parenright</key>
		<integer>10</integer>
		<key>question</key>
		<integer>36</integer>
		<key>quotedbl</key>
		<integer>7</integer>
		<key>quotedblleft</key>
		<integer>7</integer>
		<key>quotedblright</key>
		<integer>7</integer>
		<key>quoteleft</key>
		<integer>7</integer>
		<key>quoteright</key>
		<integer>7</integer>
		<key>quotesingle</key>
		<integer>7</integer>
		<key>uni02BC</key>
		<integer>7</integer>
		<key>ytilde</key>
		<integer>6</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>y</key>
		<integer>12</integer>
		<key>yacute</key>
		<integer>12</integer>
		<key>ycircumflex</key>
		<integer>12</integer>
		<key>ydieresis</key>
		<integer>12</integer>
		<key>ygrave</key>
		<integer>12</integer>
		<key>ytilde</key>
		<integer>12</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>c</key>
		<integer>-4</integer>
		<key>cacute</key>
		<integer>-4</integer>
		<key>ccaron</key>
		<integer>-4</integer>
		<key>ccedilla</key>
		<integer>-4</integer>
		<key>ccircumflex</key>
		<integer>-4</integer>
		<key>cdotaccent</key>
		<integer>-4</integer>
		<key>d</key>
		<integer>-4</integer>
		<key>dcaron</key>
		<integer>-4</integer>
		<key>e</key>
		<integer>-4</integer>
		<key>eacute</key>
		<integer>-4</integer>
		<key>ebreve</key>
		<integer>-4</integer>
		<key>ecaron</key>
		<integer>-4</integer>
		<key>ecircumflex</key>
		<integer>-4</integer>
		<key>edieresis</key>
		<integer>-4</integer>
		<key>edotaccent</key>
		<integer>-4</integer>
		<key>egrave</key>
		<integer>-4</integer>
		<key>emacron</key>
		<integer>-4</integer>
		<key>eogonek</key>
		<integer>-4</integer>
		<key>etilde</key>
		<integer>-4</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>gbreve</key>
		<integer>-4</integer>
		<key>gcircumflex</key>
		<integer>-4</integer>
		<key>gdotaccent</key>
		<integer>-4</integer>
		<key>oe</key>
		<integer>-4</integer>
		<key>q</key>
		<integer>-4</integer>
	</dict>
	<key>lcaron</key>
	<dict>
		<key>adieresis</key>
		<integer>6</integer>
		<key>question</key>
		<integer>30</integer>
	</dict>
	<key>lslash</key>
	<dict>
		<key>t</key>
		<integer>9</integer>
		<key>tbar</key>
		<integer>9</integer>
		<key>tcaron</key>
		<integer>9</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>V</key>
		<integer>4</integer>
		<key>W</key>
		<integer>5</integer>
		<key>Wacute</key>
		<integer>5</integer>
		<key>Wcircumflex</key>
		<integer>5</integer>
		<key>Wdieresis</key>
		<integer>5</integer>
		<key>Wgrave</key>
		<integer>5</integer>
		<key>Y</key>
		<integer>5</integer>
		<key>Yacute</key>
		<integer>5</integer>
		<key>Ycircumflex</key>
		<integer>5</integer>
		<key>Ydieresis</key>
		<integer>5</integer>
		<key>Ygrave</key>
		<integer>5</integer>
		<key>j</key>
		<integer>48</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>T</key>
		<integer>-54</integer>
		<key>Tbar</key>
		<integer>-54</integer>
		<key>Tcaron</key>
		<integer>-54</integer>
		<key>V</key>
		<integer>-36</integer>
		<key>W</key>
		<integer>-36</integer>
		<key>Wacute</key>
		<integer>-36</integer>
		<key>Wcircumflex</key>
		<integer>-36</integer>
		<key>Wdieresis</key>
		<integer>-36</integer>
		<key>Wgrave</key>
		<integer>-36</integer>
		<key>Y</key>
		<integer>-54</integer>
		<key>Yacute</key>
		<integer>-54</integer>
		<key>Ycircumflex</key>
		<integer>-54</integer>
		<key>Ydieresis</key>
		<integer>-54</integer>
		<key>Ygrave</key>
		<integer>-54</integer>
		<key>uni021A</key>
		<integer>-54</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>w</key>
		<integer>2</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>w</key>
		<integer>2</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>w</key>
		<integer>2</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>w</key>
		<integer>2</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>w</key>
		<integer>2</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>w</key>
		<integer>2</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>f</key>
		<integer>5</integer>
		<key>t</key>
		<integer>5</integer>
		<key>w</key>
		<integer>5</integer>
	</dict>
	<key>racute</key>
	<dict>
		<key>f</key>
		<integer>5</integer>
		<key>t</key>
		<integer>5</integer>
		<key>w</key>
		<integer>5</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>f</key>
		<integer>5</integer>
		<key>t</key>
		<integer>5</integer>
		<key>w</key>
		<integer>5</integer>
	</dict>
	<key>uni021A</key>
	<dict>
		<key>abreve</key>
		<integer>-60</integer>
		<key>acircumflex</key>
		<integer>-48</integer>
		<key>adieresis</key>
		<integer>-36</integer>
		<key>amacron</key>
		<integer>-48</integer>
		<key>asterisk</key>
		<integer>27</integer>
		<key>atilde</key>
		<integer>-36</integer>
		<key>etilde</key>
		<integer>-36</integer>
		<key>ibreve</key>
		<integer>24</integer>
		<key>icaron</key>
		<integer>6</integer>
		<key>icircumflex</key>
		<integer>18</integer>
		<key>idieresis</key>
		<integer>36</integer>
		<key>imacron</key>
		<integer>24</integer>
		<key>itilde</key>
		<integer>36</integer>
		<key>jcircumflex</key>
		<integer>18</integer>
		<key>question</key>
		<integer>24</integer>
		<key>rcaron</key>
		<integer>-54</integer>
		<key>scaron</key>
		<integer>-71</integer>
		<key>scircumflex</key>
		<integer>-65</integer>
		<key>ytilde</key>
		<integer>-12</integer>
	</dict>
	<key>uni02BC</key>
	<dict>
		<key>w</key>
		<integer>2</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>f</key>
		<integer>3</integer>
		<key>pi</key>
		<integer>2</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>colon</key>
		<integer>-14</integer>
		<key>comma</key>
		<integer>-14</integer>
		<key>ellipsis</key>
		<integer>-14</integer>
		<key>period</key>
		<integer>-14</integer>
		<key>quotedblbase</key>
		<integer>-14</integer>
		<key>quotesinglbase</key>
		<integer>-14</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>f</key>
		<integer>3</integer>
		<key>pi</key>
		<integer>2</integer>
	</dict>
	<key>yacute</key>
	<dict>
		<key>f</key>
		<integer>3</integer>
		<key>pi</key>
		<integer>2</integer>
	</dict>
	<key>ycircumflex</key>
	<dict>
		<key>f</key>
		<integer>3</integer>
		<key>pi</key>
		<integer>2</integer>
	</dict>
	<key>ydieresis</key>
	<dict>
		<key>f</key>
		<integer>3</integer>
		<key>pi</key>
		<integer>2</integer>
	</dict>
	<key>ygrave</key>
	<dict>
		<key>f</key>
		<integer>3</integer>
		<key>pi</key>
		<integer>2</integer>
	</dict>
	<key>ytilde</key>
	<dict>
		<key>f</key>
		<integer>3</integer>
		<key>pi</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
